<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My application</title>
    </head>

    <body>
        <header>
            <h1>My application</h1>
            <nav></nav>
        </header>

        <body>
            {{{body}}}
        </body>

        <footer>
            <h1>Created by XYZ</h1>
            <address></address>
        </footer>
    </body>
</html>

